{%extends "app1/base.html"%}
{%block style%}
<style>
</style>
{% endblock %}
{% block title%}<title>register page</title>{% endblock%}
  
{% block body%}
<style>
    #p1{
        display:inline-block;
    }
    #button1{
        display:inline-block;
        position:absolute;
        right:2px;

    }
    h1{
        color:red;
    }
</style>
{%for i in messages%}
<div class = "alert alert-danger " id = "alert1">
    <p class = "text-white" id = "p1">{{i}}</p>
    <button class = "btn  text-dark" id = "button1" onclick = "func1()">X</button>
</div>
{%endfor%}
<h1 class = "text-center my-3">Registration Form.</h1>
<div class = "container">
    <form action = "/register/" method = "POST"  navalidate class = "shadow p-5 col-md-8 mx-auto">
        {%csrf_token%}
        <div class = "form  my-2">
          <div class="form-row mx-auto my-2">
            <div class="form-group col-md-8 mx-auto" style = "margin-top:10px;">
              <label for="inputfirst1">First Name</label>
              <input type="text" class="form-control" id="inputfirst1" name = "firstname">
            </div>
            <div class="form-group col-md-8 mx-auto">
              <label for="inputlast1">Last Name</label>
              <input type="text" class="form-control" id="inputlast1" name = "secondname">
            </div>
          </div>
          <div class="form-group col-md-8 mx-auto my-2">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername"  name = "username">
          </div>
          <div class="form-group col-md-8 mx-auto">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail"  name = "email">
          </div>
          <div class="form-row my-2">
            <div class="form-group col-md-8 mx-auto">
              <label for="inputpassword1">Password</label>
              <input type="password" class="form-control" id="inputpassword1" name = "password1">
            </div>
            <div class="form-group col-md-8 mx-auto ">
              <label for="inputpassword2">Retype Password</label>
              <input type="password" class="form-control" id="inputpassword2" name = "password2">
            </div>
            <button type="submit" style = "margin-left:130px;" class="btn btn-primary my-3">Sign in</button>
        </div>
      </form>
</div>
<script>
    function func1(){
        var x = document.getElementById("alert1");{
            x.style.display = "none";
        }
      
    }
</script>
{%endblock body%}